[Unit]
Description=wayvnc VNC server for Hyprland

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1001 WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/bin/wayvnc --max-fps=120 --render-cursor --keyboard=us --gpu 0.0.0.0 5901
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
